{% block body %}
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/articles">Listes des articles</a> </li>
          <li><a href="/login">Connexion</a></li>
          <li> <a href="/add/articles/form/type">Ajouter un article</a></li>
        </ul>
      </nav>
  {% endblock %}
